* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px;
  background-color: #fff;
  width: 100vw;
  height: 60px;
  border: 1px solid black;
}

.company_logo_name {
  display: flex;
  align-items: center;
  border-right: 1px solid lightgray;
  font-weight: 900;
}

.navItems ul {
  display: flex;
  list-style: none;
  color: rgb(43, 42, 42);
}

.navItems ul li {
  padding: 0 20px;
  font-weight: 600;
  color:rgb(53, 56, 64);
  font-size: 14px;
}

.navbar .searchBar {
  width: 400px;
  height: 40px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.navbar .walletLogin{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  height: 40px;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 0 10px;
}

.navbar .cart{
 width: 40px;
 height: 40px;
 border: 1px solid lightgray; 
 border-radius: 10px;
 display: flex;
 align-items: center;
 justify-content: center;
}